.ps-edit-toolbar {
    position: absolute;
    right: 0;
    top: 0;
}

.ps-edit-toolbar > div {
    display: flex;
    gap: 10px;
}

.ps-edit-toolbar.hide > div {
    visibility: hidden;
}

.ps-edit-toolbar img {
    height: 16px;
    opacity: 0.5;
}

.ps-edit-toolbar img:hover {
    opacity: 1;
}
