.ps-edit-toolbar {
    position: absolute;
    right: 0;
    top: 0;
}

.ps-edit-toolbar > div {
    display: flex;
    gap: 10px;
}

.ps-edit-toolbar.hide > div {
    visibility: hidden;
}

.ps-edit-toolbar img {
    height: 16px;
    opacity: 0.5;
}

.ps-edit-toolbar img:hover {
    opacity: 1;
}

.ps-gallery-slide-toolbar {
    position: absolute;
    top: 0;
    left: -20px;
    width: 15px;
    font-family: 'VisbyCF';
    font-weight: bold;
}

.ps-gallery-slide-toolbar img {
    opacity: 0.5;
}

.ps-gallery-slide-toolbar img:hover {
    opacity: 1;
}

.ps-gallery-slide-toolbar > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.ps-gallery-slide-toolbar.hide > div {
    visibility: hidden;
}

